<ul class="media-list">
  <% shops.each do |shop| %>
    <li class="media">
      <div class="media-left">
        #画像
      </div>
      <div class="media-body">
        <div>
          <%= link_to shop.shopname, shop_path(shop) %> <span class="text-muted">営業時間： <%= shop.starttime %>~<%= shop.finishtime %></span>
        </div>
        <div>
          <p>説明：<%= shop.content %></p>
        </div>
        <div>
          <p>予算：<%= shop.charge %></p>
        </div>
        <div>
          <p>場所：<%= shop.place %></p>
        </div>
        <div>
          <% if current_user == shop.user %>
            <%= link_to "Delete", shop, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate shops %>
</ul>
