<% if shops.present? %>
 <div class="row">
  <% shops.each do |shop| %>
   <div class="item">
    <div class="col-md-4 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <%= image_tag(shop.image_url) if shop.image.present? %>
        </div>
        <div class="panel-body">
          <p class="shopname"><%= link_to shop.shopname, shop_path(shop) %> <span class="text-muted">( <%= shop.starttime %> ~ <%= shop.finishtime %> )</span></p>

        </div>
        <div class="shopinfo">
          <p class="desc"><%= shop.place %></p>
          <p class="desc"><%= shop.category %></p>
          <p class="desc"><%= shop.charge %></p>
        </div>
        <div>
          <% if current_admin == shop.admin %>
            <%= link_to "Delete", shop, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
        <div class="star-button">
          <%= render "favorites/like_button", shop: shop %>
        </div>
      </div>
   </div>
  <% end %>
  <%= paginate shops %>
</div>
<% end %>
