<div class="row">
  <% shops.each do |shop| %>
   <div class="item">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="#" alt="" >
        </div>
        <div class="panel-body">
          <p class="shopname"><%= link_to shop.shopname, shop_path(shop) %> <span class="text-muted">( <%= shop.starttime %>:00 ~ <%= shop.finishtime %>:00 )</span></p>
        </div>
        <div class="shopinfo">
          <p class="desc"><%= shop.place %></p>
          <p class="desc"><%= shop.category %></p>
          <p class="desc"><%= shop.charge %></p>
        </div>
        <div>
          <% if current_user == shop.user %>
            <%= link_to "Delete", shop, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </div>
   </div>
  <% end %>
  <%= paginate shops %>
</div>
