<ul class="media-list">
  <% shops.each do |shop| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>





  <div class="row">
    <% shops.each do |shop| %>
    <div class="col-md-3 col-sm-4 col-xs-12">
     <div class="clearfix">
      <a href="#" class="article-box">
        <h3 class="shopname">店名：<%= shop.shopname %></h3>
        <p class="category">ジャンル：<%= shop.category %></p>
        <p class="desc"><%= shop.content %></p>
        <p class="time">営業時間：<%= shop.starttime %>時~<%= shop.finishtime %>時</p>
        <p class="charge">予算：約<%= shop.charge %>円</p>
        <p class="place"><%= shop.place %></p>
      </a>
     </div>
    </div>
  </div>
