<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>ご飯は美味しい店に行こう！</h1>
        <% if user_signed_in? %>
         <%= search_form_for(@q) do |f| %>
          <div class="form-group">
           <div class="row">
            <div class="col-xs-12">
             <form id="form02">
                <div class="col-sm-4 tabeform">
                  <%= f.search_field :shopname_cont, id: "input02", class: "form-control", placeholder: "【店名】" %>
                </div>
                <div class="col-sm-4 tabeform">
                  <%= f.search_field :category_cont, id: "input02", class: "form-control", placeholder: "【ジャンル 例:焼肉】" %>
                </div>
                <div class="col-sm-4 tabeform">
                  <%= f.search_field :place_cont, id: "input02", class: "form-control", placeholder: "【場所 例:新宿】" %>
                  <div class="resetbutton">
                    <%= link_to request.path do%>
                     <span class="glyphicon glyphicon-remove-sign"></span>
                    <% end %>
                  </div>
                </div>
                <%= f.submit "検索", id: "submit02" %>
             </form>

            </div>
           </div>
          </div>
         <% end %>
        <% else %>
          <%= link_to 'TABESHOPを始める', new_user_registration_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="wrapper">
   <div class="row">
     <div class="col-md-3">
       <%= render "layouts/sidemenu", shops: @shops %>
     </div>
     <div class="col-md-9">
       <%= render 'shops/shops', shops: @shops %>
     </div>
   </div>
 </div>
</div>
