 <div class="row">
   <div class="shop">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <%= image_tag(@shop.picture_url) if @shop.picture.present? %>
        </div>
        <div class="mannaka">
         <div class="panel-body">
          <p class="shopname"><%= link_to @shop.shopname, shop_path(@shop) %> <span class="text-muted">( <%= @shop.starttime %>:00 ~ <%= @shop.finishtime %>:00 ) 場所:<%= @shop.place %>  ジャンル:<%= @shop.category %>  予算:<%= @shop.charge %>円 </span></p>
         </div>
         <div class="shopinfo">
          <p class="desc"><%= @shop.content %></p>
         </div>
        <div>
          <% if current_user == @shop.user %>
            <%= link_to "Delete", @shop, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
         </div>
        </div>
      </div>
    </div>
   </div>
 </div>
