<div class="user-profile">
  <div>
   <p>
    <strong>Picture:</strong>
    <%= image_tag(@shop.picture_url) if @shop.picture.present? %>
   </p>
  </div>
  <div class="name text-center">
    <div>
      <p><%= @shop.shopname %> <span class="text-muted">営業時間 <%= @shop.starttime %>~<%= @shop.finishtime %></span></p>
    </div>
    <div>
      <p>説明：<%= @shop.content %></p>
    </div>
    <div>
      <p>予算：<%= @shop.charge %></p>
    </div>
    <div>
      <p>場所：<%= @shop.place %></p>
    </div>
  </div>
</div>
