<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.username %></h1>
    <h1><%= @user.email %></h1>
  </div>
  <%= image_tag(@user.image_url, size: 100) if @user.image.present?%>
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">likes</div>
        <div id="want_count" class="status-value">
          <%= @count_like %>
        </div>
      </li>
    </ul>
  </div>
</div>
<%= render 'shops/shops', shops: @shops %>
