<% if reviews.present? %>
  <% reviews.each do |review| %>
    <div class="row reviews">
        <div class=" reviews-contents">
         <div class="col-xs-4 reviews-star-img">

          <!--星評価-->
         <div id="star-rate-<%= review.id %>"></div>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>
         </div>
        <!--/星評価-->
         <div class="col-xs-8 reviews-rate">
           <%= review.rate %>
         </div>
       </div>

      <div class="reviews-title">
        <%= review.title %>
      </div>
      <div class="reviews-time">
        <%= simple_time(review[:created_at] ) %>
      </div>
     <div class="reviews-content"><%= review.content %></div>
    </div>
  <% end %>
<% end %>
