<!DOCTYPE html>
<html>
  <head>
    <title>Tabeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" >
   <script type="text/javascript" src="https://express.heartrails.com/api/express.js"></script>
   <%= render "layouts/trainsearchhead" %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= yield :cover %>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main">
              <%= render 'layouts/flash_messages' %>


              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
